* {
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #000 !important;
}

.slide {
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide.active {
    opacity: 1;
    transform: translateY(0);
}

.slide-content {
    padding: 20px;
}

/*Estilos para el header slide 1*/
.navbar {
    color: #000;
    width: 100%;
    background-color: #000;
}

.navbar-brand img {
    max-width: 120px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.search {
    width: 200px;
    text-align: center;
}

.navbar-toggler {
    color: #000;
    margin-left: auto;
}

.form-container {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 10px;
    color: #fff !important;
    background-color: #000 !important;
    padding: 10px;
}

.btn:hover {
    background-color: #f4fd1d !important;
    color: #000 !important;
    border: 2px solid #fff !important;
}

svg {
    margin-right: 2px;
}

span {
    font-size: 15px;
}

.copyright {
    font-size: 15px;
    margin-bottom: 10px;
}

/*Estilos para el carrito*/
.container-cart {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    z-index: 9999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
}

.container-cart.open {
    left: 600px;
}

.titulo-cart {
    color: #000 !important;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -70px;
    font-weight: bold;
}

#lista-carrito {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;
    margin-top: 100px;
}

#lista-carrito :where(th, td) {
    padding: 15px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#lista-carrito :where(th) {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#lista-carrito tbody tr:hover {
    background-color: #000;
    color: #fff;
}

#lista-carrito :where(tfoot) {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-container {
    text-align: right;
}

.btn-cart {
    margin-top: 30px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left: 5px;
    margin-bottom: 30px;
}

.btn-cart:hover {
    background-color: #f4fd1d;
    color: #000;
    border-color: #000;
}

/*Estilos del carrito de forma interna es decir que el tbody*/
#carrito-body {
    border-bottom: 2px solid #000;
}

#carrito-body tr {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

#carrito-body tr:hover {
    background-color: #000;
    transition: background-color 0.3s ease;
    color: #fff;
}

#carrito-body td {
    padding: 15px;
    text-align: center;
}

#carrito-body .btn-eliminar-producto {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#carrito-body .btn-eliminar-producto:hover {
    background-color: #f4fd1d;
}

#carrito-body img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el nav-item */
.nav-item {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link svg {
    margin-right: 5px;
}

.dropdown-nav {
    display: none;
    position: absolute;
    background-color: #000 !important;
    z-index: 1;
    right: 8px;
    border-bottom: 2px solid #f4fd1d !important;
    border-radius: 0 0 30px 30px !important;
    -webkit-border-radius: 0 0 30px 30px !important;
    -moz-border-radius: 0 0 30px 30px !important;
    -ms-border-radius: 0 0 30px 30px !important;
    -o-border-radius: 0 0 30px 30px !important;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #ebf909;
    color: #000 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Estilos para el nav pero cuando se active el collapse*/
.collapse.show {
    background-color: #000;
    border-bottom: 3px solid #f4fd1d;
}

.collapse.show .container-sb {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.collapse.show .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos para el boton perfil*/
#user-menu {
    position: absolute;
    top: 100%;
    /* Posición debajo del botón */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#user-menu ul li {
    padding: 8px 10px;
    cursor: pointer;
}

#user-menu ul li:hover {
    background-color: #f0f0f0;
}


/*Estilos del modal*/
.user-panel {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -650px;
    width: 650px;
    height: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 9999;
}

.user-panel.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.close:hover {
    color: #f4fd1d !important;
}

.container-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: center;
}

.title-panel {
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    margin: 0 auto;
    width: 250px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #ff7f50;
}

.close {
    float: right;
    cursor: pointer;
}

.forgot-password {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: #ff7f50 !important;
}

.forgot-password:hover {
    color: #000 !important;
}

.parrafo-panel {
    margin-top: 15px;
    text-align: center;
    color: #000 !important;
}

#register-form {
    display: none;
}

#register-form.visible {
    display: block;
}

#register-link,
#login-link {
    color: #ff6347;
}

#register-link:hover,
#login-link:hover {
    text-decoration: underline;
    color: #ff9900;
}

.contain-panel {
    text-align: center;
}

.beneficios {
    color: #000 !important;
}

.copyright {
    color: #000 !important;
}

/*Estilos para el perfil*/
.main-contain {
    width: 100%;
    height: auto;
    margin-top: 120px;
}

.card-profile {
    width: 65%;
    margin: 0 auto;
    background-color: #000 !important;
    border: 3px solid #ebf909 !important;
    color: #fff !important;
    margin-bottom: 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 40px;
}

.card-profile input {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

input:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #f4fd1d;
}

.card-body-profile {
    display: flex;
    justify-content: center;
}

.btn-main {
    background-color: #f4fd1d;
    padding: 10px;
    color: #000;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.btn-main:hover {
    background-color: #fff;
    color: #000;
}

/*Estilos para el main*/
.container-Product {
    border: 3px solid #f4fd1d;
    background-color: #000;
}

.container-Product :where(h4, p) {
    text-align: center;
    color: #fff;
}

.btn-product {
    background-color: #f4fd1d;
    color: #000;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    width: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-product:hover {
    background-color: #fff;
    color: #000;
}

/*Estilos para el modal*/
.modal-content {
    top: 120px;
    border: 4px solid #000 !important;
}
.modal-header {
    background-color: #fff;
    width: 100%;
}

.modal-header :where(h5) {
    color: #000;
    font-weight: 950;
    font-size: 20px;
    padding: 15px;
}

.modal-body {
    background-color: #fff;
}