* {
    font-family: monospace;
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #000 !important;
}

/*Estilos para el header nav*/
.navbar {
    color: #000;
    width: 100%;
    background-color: #000;
    height: auto;
}

.navbar-brand img {
    max-width: 120px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.search {
    width: 200px;
    text-align: center;
}


.navbar-toggler {
    color: #000;
    margin-left: auto;
}

.form-container {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 10px;
    color: #fff !important;
}

.btn:hover {
    background-color: #f4fd1d !important;
    color: #000 !important;
}

svg {
    margin-right: 2px;
}

/*Estilos para el carrito*/
.container-cart {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    z-index: 9999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
}

.container-cart.open {
    left: 600px;
}

table {
    width: 100%;
    margin: 20px 5px;
    margin-top: 60px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
}

table th {
    background-color: #fff;
    color: #000;
    text-align: center;
    border-top: 1px solid #000;
}

.container-cart .btn-container {
    text-align: right;
}

.btn-cart {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left: 5px;
}

.btn-cart:hover {
    background-color: #f4fd1d;
    color: #fff;
    border-color: #fff;
}

/*Estilos del carrito de forma interna es decir que el tbody*/
#carrito-body {
    border-bottom: 2px solid #000;
}

#carrito-body tr {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

#carrito-body tr:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

#carrito-body td {
    padding: 15px;
    text-align: center;
    margin-top: 10px;
}

#carrito-body .btn-eliminar-producto {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#carrito-body .btn-eliminar-producto:hover {
    background-color: #f4fd1d;
}

#carrito-body img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el nav-item */
.nav-item {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link svg {
    margin-right: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000 !important;
    border: 1px solid #ebf909 !important;
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #ebf909;
    color: #000 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Estilos para el nav pero cuando se active el collapse*/
.collapse.show {
    background-color: #000;
    border-bottom: 3px solid #f4fd1d;
}

.collapse.show .container-sb {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.collapse.show .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos para el reloj*/
#clock-container {
    position: fixed;
    bottom: 200px;
    left: 30px;
    border: 4px solid #f4fd1d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: #000;
    padding: 10px;
}

#config-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-right: 4px solid #f4fd1d;
}

#clock {
    color: #fff;
}

/*Estilos del panel*/
.user-panel {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 9999;
}

.user-panel.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.close:hover {
    color: #f4fd1d !important;
}

.container-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: center;
}

.title-panel {
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    margin: 0 auto;
    width: 250px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #f4fd1d;
    color: #000;
}

.close {
    float: right;
    cursor: pointer;
}

.forgot-password {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: #ff7f50 !important;
}

.forgot-password:hover {
    color: #000 !important;
}

.parrafo-panel {
    margin-top: 15px;
    text-align: center;
    color: #000 !important;
}

#register-form {
    display: none;
}

#register-form.visible {
    display: block;
}

#register-link,
#login-link {
    color: #ff6347;
}

#register-link:hover,
#login-link:hover {
    text-decoration: underline;
    color: #ff9900;
}

.contain-panel {
    text-align: center;
}

.beneficios {
    color: #000 !important;
}

.copyright {
    color: #000 !important;
}

/*Estilos del main content*/
.main-contain {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 120px;
}

.card-profile {
    width: 65%;
    margin: 0 auto;
    background-color: #000 !important;
    border: 3px solid #ebf909 !important;
    color: #fff !important;
    margin-bottom: 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 40px;
}

.card-profile input {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

input:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #f4fd1d;
}

.card-body-profile {
    display: flex;
    justify-content: center;
}

.btn-main {
    background-color: #f4fd1d;
    padding: 10px;
    color: #000;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px
}

.btn-main:hover {
    background-color: #fff;
    color: #000;
}
.card-history {
    background-color: #000;
    color: #fff;
    margin-left: 30px;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
    border: 2px solid #ebf909;
}

.img-card {
    margin-top: 20px;
}

.table {
    background-color: #000;
    width: 60%;
    margin: 0 auto;
}

.card-buy {
    background-color: #000;
    color: #fff;
    margin-right: 30px;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
    border: 2px solid #ebf909;
}

/*Estilos para el footer*/
.footer {
    background-color: #fff;
    color: #000 !important;
    margin-top: 15%;
    border-radius: 35px 35px 0 0;
    -webkit-border-radius: 35px 35px 0 0;
    -moz-border-radius: 35px 35px 0 0;
    -ms-border-radius: 35px 35px 0 0;
    -o-border-radius: 35px 35px 0 0;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    margin-top: 30px;
}

.contact h5 {
    font-size: 25px;
    margin-left: 60px;
}

.contact p {
    margin-top: 10px;
}

.formulario-vip {
    margin-top: 30px;
}

.form {
    text-align: center;
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    text-align: center;
}

.btn-outline-light {
    color: #000;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #ebf909;
    border: 4px solid #fff;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    color: #000 !important;
}

/*Media Queries para responsividad*/
@media screen and (max-width: 768px) {
    .user-panel {
        width: 438px;
        border-radius: 225px 0 0 225px;
        -webkit-border-radius: 225px 0 0 225px;
        -moz-border-radius: 225px 0 0 225px;
        -ms-border-radius: 225px 0 0 225px;
        -o-border-radius: 225px 0 0 225px;
    }

    #login-form {
        margin-top: 165px;
    }

    #registration-form {
        margin-top: 60px;
    }

    #lista-carrito {
        margin-top: 150px;
        margin-left: 26px;
        width: 300px;
    }

    #lista-carrito :where(tr) {
        border: none;
        color: #000;
        padding: 20px;
    }

    #carrito-body :where(img) {
        overflow: hidden;
    }

    .title-panel {
        background-color: #000;
        padding: 10px;
        color: #fff;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .beneficios {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .copyright {
        text-align: center;
        width: 97%;
        margin: 0 auto;
    }

    .anuncios {
        margin-bottom: 50px;
    }
    
    .form :where(h5, .copyright) {
        color: #000;
        font-size: 15px;
        padding: 15px;
    }

    .form-control {
        color: #000;
        border: 1px solid #000;
    }

    .btn {
        background-color: #000 !important;
        padding: 15px;
    }

    .btn:hover {
        border: 4px solid #000;
        color: #000;
    }

    .footer .container {
        text-align: center;
    }

    .footer .container .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .container .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}