* {
    font-family: monospace;
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #000 !important;
}

/*Estilos para el header nav*/
.navbar {
    color: #000;
    width: 100%;
    background-color: #000;
}

.navbar-brand img {
    max-width: 120px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.search {
    width: 200px;
    text-align: center;
}

.navbar-toggler {
    color: #000;
    margin-left: auto;
}

.form-container {
    display: flex;
    justify-content: center;
}

.btn {
    margin-left: 10px;
    color: #fff !important;
}

.btn:hover {
    background-color: #f4fd1d !important;
    color: #000 !important;
}

svg {
    margin-right: 2px;
}

/*Estilos para el carrito*/
.container-cart {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    z-index: 9999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
}

.container-cart.open {
    left: 600px;
}

table {
    width: 580px;
    margin: 20px 10px;
    margin-top: 60px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
}

table th {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.container-cart .btn-container {
    text-align: right;
}

.btn-cart {
    padding: 5px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left: 5px;
}

.btn-cart:hover {
    background-color: #f4fd1d;
    color: #fff;
    border-color: #fff;
}

/* Estilos para el nav-item */
.nav-item {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link svg {
    margin-right: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000 !important;
    border: 1px solid #ebf909 !important;
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #fff !important;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #ebf909;
    color: #000 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Estilos para el nav pero cuando se active el collapse*/
.collapse.show {
    background-color: #000;
    border-bottom: 3px solid #f4fd1d;
}

.collapse.show .container-sb {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.collapse.show .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilos del panel*/
.user-panel {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -600px;
    width: 600px;
    height: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 9999;
}

.user-panel.open {
    right: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.close:hover {
    color: #f4fd1d !important;
}

.container-form {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    height: auto;
    display: flex;
    justify-content: center;
}

.title-panel {
    text-align: center;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    margin: 0 auto;
    width: 250px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 8px;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #f4fd1d;
    color: #000;
}

.close {
    float: right;
    cursor: pointer;
}

.forgot-password {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: #ff7f50 !important;
}

.forgot-password:hover {
    color: #000 !important;
}

.parrafo-panel {
    margin-top: 15px;
    text-align: center;
    color: #000 !important;
}

#register-form {
    display: none;
}

#register-form.visible {
    display: block;
}

#register-link,
#login-link {
    color: #ff6347;
}

#register-link:hover,
#login-link:hover {
    text-decoration: underline;
    color: #ff9900;
}

.contain-panel {
    text-align: center;
}

.beneficios {
    color: #000 !important;
}

.copyright {
    color: #000 !important;
}

/*Estilso del Section*/
.container-motion {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.carousel-wrapper {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 0 2rem;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    position: absolute;
    transition: transform 300ms ease-out;
    -webkit-transition: transform 300ms ease-out;
    -moz-transition: transform 300ms ease-out;
    -ms-transition: transform 300ms ease-out;
    -o-transition: transform 300ms ease-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.btn-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-carousel:hover {
    color: #f4fd1d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.previous {
    left: 10px;
}

.next {
    right: 10px;
}

/*Estilos para el slide 3 de productos*/
.menu-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}

.star {
    animation: pulse 2s infinite alternate;
    align-items: center;
}

@keyframes pulse {
    0% {
        color: #ebf909;
        transform: scale(1);
    }

    100% {
        color: #ff9900;
        transform: scale(1.2);
    }
}

.title-section {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #000;
    color: #fff;
    border-top: 3px solid #ebf909;
    border-bottom: 3px solid #ebf909;
    text-align: center;
    padding: 15px 0;
}

/*Estilos para el section*/
.filter-panel {
    position: fixed;
    top: 50%;
    left: -30%;
    width: 30%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s;
    z-index: 9999;
}

@media (max-width: 768px) {
    .filter-panel {
        border: 1px solid #000;
        top: 15%;
        left: -70%;
        width: 70%;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-button {
    color: #000 !important;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#filter-form {
    padding: 20px;
    text-align: center;
}

#price-range {
    color: #000;
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

label[for="price-range"] {
    font-size: 15px;
    text-align: center;
}

#price-value {
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 5px;
}

/*Estilos para div de container card*/
.card {
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    background-color: #000;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.counter-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.counter-btn:hover {
    background-color: #f4fd1d;
    color: #fff;
}

.counter-value {
    margin: 0 20px;
    font-size: 24px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-card {
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left: 5px;
}

.btn-card:hover {
    background-color: #f4fd1d;
    color: #fff;
    border-color: #fff;
}

.filter {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #000;
    color: #fff;
    border-top: 3px solid #ebf909;
    border-bottom: 3px solid #ebf909;
    text-align: center;
    padding: 15px 0;
}

.container-filter {
    display: flex;
}

.container-btn-filter {
    display: flex;
    justify-content: left;
}

.btn-filter {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff !important;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-filter:hover {
    background-color: #ebf909;
    color: #000;
    border-color: #fff;
}

.container-btn-select {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


.btn-select {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


.btn-select:hover {
    background-color: #f4fd1d;
    color: #000;
    border-color: #fff;
}

/*Estilos para el modal de los botones ver ingredientes*/

/*Estilos para el footer*/
.footer {
    background-color: #fff;
    color: #000 !important;
    margin-top: 15%;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    margin-top: 30px;
}

.contact h5 {
    font-size: 25px;
    margin-left: 60px;
}

.contact p {
    margin-top: 10px;
}

.formulario-vip {
    margin-top: 30px;
}

.form {
    text-align: center;
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}

.form-control {
    text-align: center;
}

.btn-outline-light {
    color: #000;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #ebf909;
    border: 4px solid #fff;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    color: #000 !important;
}